@import '../../../styles/variables.scss';
.description_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    column-gap: 24px;
    row-gap: 16px;
    margin-bottom: 32px;
    @media (max-width: 1023px) {
        flex-direction: column;
    }
}

.slider {
    position: relative;
    width: calc(50% - 16px);
    height: 100%;
    @media (max-width: 1023px) {
        width: 70%;
    }
    @media (max-width: 767px) {
        width: 80%;
    }
    @media (max-width: 599px) {
        width: 100%;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 60%;
    }
    .slider__container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        .slider__container_small {
            position: relative;
            width: calc(40% - 96px);
            @media (max-width: 599px) {
                width: calc(25% - 16px);
            }
        }
        .slider__container_big {
            position: relative;
            width: calc(60% + 64px);
            @media (max-width: 599px) {
                width: calc(75%);
            }
        }
    }
    .swiper {
        width: 100%;
        height: 100%;
        position: relative;
        border: 2px solid $color_gray_light;
        border-radius: 5px;
        .slide {
            display: block;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .swiper2 {
        width: 100%;
        height: 100%;
        .slide2 {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            border: 2px solid $color_gray_light;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        & [class*='swiper-slide'] {
            width: 100%;
            height: calc((100% - 20px) / 3);
        }
    }
    & [class*='swiper-initialized'] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.description__list {
    align-self: flex-start;
    width: calc(50% - 16px);
    @media (max-width: 1023px) {
        width: 100%;
    }
}

.description__list_item {
    color: $color_main_text;
    font-family: $font_text;
    font-size: 18px;
    line-height: 1.8;
    @media (max-width: 767px) {
        font-size: 14px;
    }
    & span {
        color: $color_title_text;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
}