@import '../../styles/variables.scss';
.accessory_detail {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 24px;
    box-shadow: 0 1px 0px transparent;
    transition: box-shadow ease-in 0.2s;
    @media (max-width: 600px) {
        flex-wrap: wrap;
    }
    .accessory_detail__image_block {
        flex: 0 0 auto;
        display: block;
        width: calc(30% - 24px);
        margin-right: 48px;
        @media (max-width: 1023px) {
            width: calc(35% - 24px);
        }
        @media (max-width: 600px) {
            width: 100%;
            margin-right: 0px;
            margin-bottom: 32px;
        }
    }
    .accessory_detail__description_block {
        display: block;
        margin: 8px 0;
        font-size: 16px;
        color: $color_title_text;
        @media (max-width: 1023px) {
            font-size: 14px;
        }
    }
    .accessory_detail__designation_block {
        display: block;
        font-size: 14px;
        color: $color_main_text;
    }
    .accessory_detail__link {
        cursor: pointer;
        text-decoration: none;
    }
    .accessory_detail__title_block {
        display: block;
        font-size: 24px;
        color: $color_title_text;
        transition: color ease-in 0.3s;
        @media (max-width: 1023px) {
            font-size: 20px;
        }
    }
}