@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.favorite__button {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid;
    border-color: $color_gray_dark;
    background: transparent;
    transition: border-color ease-in-out 0.9;
    &:hover {
        border-color: $color_main_choice;
    }
    &:active {
        border-width: 2px;
    }
    &.favorite__button_big {
        padding: 6px 16px;
        width: auto;
    }
    .favorite__button_text {
        width: max-content;
        margin-right: 8px;
    }
    .favorite__button_svg {
        height: 100%;
        width: 20px;
        fill: $color_gray_dark;
        &.favorite__button_svg_active {
            fill: $color_main_choice;
            stroke: $color_main_choice;
        }
    }
}