@import "../../styles/variables.scss";
.card {
    display: flex;
    min-height: 200px;
    width: 100%;
    text-decoration: none;
    padding: 24px 24px 32px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0);
    border-top: 1px solid $color_gray_dark;
    transition-property: box-shadow, border-top-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    &:first-child {
        border-top: none;
    }
    &:hover {
        color: $color_main_choice;
        box-shadow: 0 5px 25px $color_gray_dark;
        border-top-color: transparent;
        @media (max-width: 1023px) {
            box-shadow: none;
            border-top-color: $color_gray_dark;
        }
    }
    &:hover+.card {
        border-top-color: transparent;
        @media (max-width: 1023px) {
            border-top-color: $color_gray_dark;
        }
    }
    @media (max-width: 1023px) {
        padding: 16px 0px;
    }
}

.image_block {
    display: block;
    flex: 0 0 auto;
    min-height: 220px;
    width: 220px;
    margin-right: 48px;
    margin-bottom: 8px;
    @media (max-width: 1279px) {
        min-height: 180px;
        width: 180px;
        margin-right: 32px;
    }
    @media (max-width: 767px) {
        min-height: 140px;
        width: 140px;
        margin-right: 16px;
    }
    @media (max-width: 479px) {
        min-height: 80px;
        width: 80px;
        margin-right: 8px;
    }
}

.content_block {
    display: block;
    flex: 1 1 auto;
}

.header {
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid $color_gray_light;
}

.title {
    display: inline-block;
    color: $color_title_text;
    font-family: $font_title;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    &:hover {
        color: $color_main_choice;
    }
    @media (max-width: 767px) {
        font-size: 14px;
    }
}

.designation {
    display: block;
    color: $color_main_text;
    font-family: $font_text;
    font-size: 12px;
    line-height: 1.2;
    @media (max-width: 767px) {
        font-size: 10px;
    }
}

.description_block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: 24px;
    row-gap: 16px;
    @media (max-width: 1023px) {
        flex-direction: column;
    }
}

.description__list {
    align-self: flex-start;
}

.description__list_item {
    color: $color_main_text;
    font-family: $font_text;
    font-size: 14px;
    line-height: 1.43;
    @media (max-width: 767px) {
        font-size: 12px;
    }
    & span {
        color: $color_title_text;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
}