@import "../../styles/variables.scss";
.container {
    display: block;
    position: relative;
    width: 100%;
    padding-top: calc( 100% + 16px);
    text-decoration: none;
}

.image_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 100%;
    background-color: $color_gray_light;
    &__inner {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__image {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        &.image_block__image_active {
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }
    &__hover_area {
        height: 100%;
        flex: 1 1 auto;
        z-index: 1;
    }
}

.image_dots {
    position: absolute;
    bottom: 6px;
    height: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
    & .image_dots__dot {
        height: 100%;
        width: 4px;
        background-color: $color_gray_dark;
        &:not(last-child) {
            margin-right: 8px;
        }
    }
    & .image_dots__dot_active {
        background-color: $color_main_choice;
    }
}