@import '../../styles/variables.scss';
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 20px;
    box-shadow: 0 5px 25px $color_gray_dark;
    color: $color_title_text;
    transition: color ease-in-out 0.3s;
    &:hover {
        color: $color_main_choice;
    }
}

.img_block {
    height: 64px;
    width: 128px;
    background-color: $color_gray_light;
    margin-bottom: 8px;
}

.text_block {
    color: inherit;
    font-family: $font_title;
    font-size: 16px;
    line-height: 1;
}