@import '../../styles/variables.scss';
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 32px 16px;
    box-shadow: 0 3px 20px $color_gray_dark;
    color: $color_title_text;
    outline: 1px solid transparent;
    transition-property: color, box-shadow, outline;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    &:hover {
        color: $color_main_choice;
        box-shadow: 0 3px 25px $color_gray_dark;
        outline: 1px solid $color_main_choice;
    }
    &:focus {
        outline: 1px solid $color_main_choice;
    }
}

.img_block {
    height: 96px;
    width: 128px;
    margin-bottom: 16px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: transform linear 0.5s;
}

.card:hover .img_block {
    transform: scale(1.04);
}

.text_block {
    color: inherit;
    font-family: $font_title;
    font-size: 16px;
    line-height: 1;
}