@import '../../styles/variables.scss';
.accessory_card {
    display: block;
    margin: 0;
    padding: 24px;
    box-shadow: 0 1px 0px transparent;
    transition: box-shadow ease-in 0.2s;
    @media (max-width: 1023px) {
        padding: 24px 0px;
        box-shadow: none;
        border-bottom: 1px solid $color_gray_dark;
    }
    &:hover {
        box-shadow: 0 3px 12px $color_gray_dark;
        @media (max-width: 1023px) {
            box-shadow: none;
        }
    }
    &:hover .accessory_card__title_block {
        color: $color_main_choice;
    }
    .accessory_card__description_block {
        display: block;
        min-height: 60px;
        margin: 8px 0;
        font-size: 14px;
        color: $color_title_text;
        @media (max-width: 767px) {
            font-size: 12px;
            min-height: 51px;
        }
    }
    .accessory_card__designation_block {
        display: block;
        font-size: 12px;
        color: $color_main_text;
        @media (max-width: 767px) {
            font-size: 10px;
        }
    }
    .accessory_card__link {
        cursor: pointer;
        text-decoration: none;
    }
    .accessory_card__title_block {
        display: block;
        min-height: 52px;
        font-size: 18px;
        color: $color_title_text;
        font-family: $font_title;
        transition: color ease-in 0.3s;
        @media (max-width: 767px) {
            font-size: 14px;
            min-height: 40px;
        }
    }
}