.app_container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

[class*='Toastify__toast-container--top-right'] {
    margin-top: 56px;
    @media (max-width: 1024px) {
        margin-top: 16px;
    }
}