$color_main_accent: #ff5000;
$color_main_choice: #ff811a;
$color_main_black: #151528;
$color_gray_dark: #5d5d64;
$color_gray_light: #f5f5f5;
$color_alert: #c4183c;
$color_title_text: #151528;
$color_main_text: #5d5d64;
//****************************//
$font_title: 'Helvetica',
sans-serif;
$font_text: 'Roboto',
sans-serif;
//****************************//
$width_wrap: 1500px;