@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.wrap {
    @include mainWrapMedia;
}

.category_container,
.news_container {
    display: block;
    height: 100%;
    margin-bottom: 8px;
    &:last-child {
        margin-bottom: 32px;
    }
    @include mainContainerMedia;
    @media (max-width: 1279px) {
        &:last-child {
            margin-bottom: 24px;
        }
    }
}

.title {
    font-family: $font_title;
    color: $color_title_text;
    font-weight: 700;
    font-size: 32px;
    padding: 32px 0px;
    @media (max-width: 1279px) {
        font-size: 24px;
        padding: 24px 0px;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__card {
        margin-bottom: 16px;
        flex: 0 1 calc((100% - 16px * 3) / 4);
        @media (max-width: 1279px) {
            flex: 0 1 calc((100% - 16px * 2) / 3);
        }
        @media (max-width: 767px) {
            flex: 0 1 calc((100% - 16px * 1) / 2);
        }
        @media (max-width: 479px) {
            flex: 0 1 100%;
        }
    }
}

.zamdikhanov_container {
    width: 100%;
    height: 0px;
    padding-top: 25%;
    position: relative;
}

.zamdikhanov_canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.news__text {
    margin-bottom: 1em;
}