@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.wrap {
    @include mainWrapMedia;
}

.container {
    display: block;
    height: 100%;
    &:last-child {
        margin-bottom: 32px;
    }
    @include mainContainerMedia;
    @media (max-width: 1279px) {
        margin-bottom: 24px;
    }
}

.container_color {
    @media (max-width: 1023px) {
        background-color: $color_gray_light;
    }
}

.header_container {
    padding: 16px 0 32px;
}

.title,
.item_count {
    display: inline-block;
    font-family: $font_title;
    color: $color_title_text;
    font-weight: 700;
    font-size: 32px;
    margin: 16px 0.5em 32px 0;
    @media (max-width: 1279px) {
        font-size: 24px;
        margin: 16px 0.5em 24px 0;
    }
    @media (max-width: 1023px) {
        display: block;
        margin: 16px 0px;
    }
    @media (max-width: 767px) {
        font-size: 20px;
        margin: 8px 0px;
    }
}

.item_count {
    font-family: $font_text;
    color: $color_gray_dark;
    font-weight: 400;
}

.main_container {
    display: flex;
    .items_block {
        width: calc(100% - 300px);
        @media (max-width: 1023px) {
            width: 100%;
        }
    }
    .filters_block {
        width: 300px;
        @media (max-width: 1023px) {
            display: none;
        }
    }
}