@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.wrap {
    @include mainWrapMedia;
}

.container {
    display: block;
    height: 100%;
    &:last-child {
        margin-bottom: 32px;
    }
    @include mainContainerMedia;
    @media (max-width: 1279px) {
        margin-bottom: 24px;
    }
}

.container_color {
    @media (max-width: 1023px) {
        background: linear-gradient(to bottom, #e5e5e5 0%, $color_gray_light 50%);
    }
}

.header_container {
    position: relative;
    padding: 16px 0 32px;
}

.title,
.item_count {
    display: inline-block;
    font-family: $font_title;
    color: $color_title_text;
    font-weight: 700;
    font-size: 32px;
    margin: 16px 0.5em 32px 0;
    @media (max-width: 1279px) {
        font-size: 24px;
        margin: 16px 0.5em 24px 0;
    }
    @media (max-width: 1023px) {
        display: block;
        margin: 16px 0px;
    }
    @media (max-width: 767px) {
        font-size: 20px;
        margin: 8px 0px;
    }
}

.item_count {
    font-family: $font_text;
    color: $color_gray_dark;
    font-weight: 400;
}

.filter_button {
    display: none;
    position: absolute;
    right: 0;
    bottom: 48px;
    @media (max-width: 1023px) {
        display: block;
    }
    @media (max-width: 767px) {
        bottom: 40px;
    }
}

.main_container {
    display: flex;
    .items_block {
        width: calc(100% - 300px);
        @media (max-width: 1023px) {
            width: 100%;
        }
    }
    .items_grid {
        display: grid;
        position: relative;
        grid-template-columns: repeat(4, 1fr);
        &::after {
            @media (max-width: 1023px) {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background: #fff;
            }
        }
        @media (max-width: 1400px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 1023px) {
            column-gap: 32px;
            grid-template-columns: repeat(3, 1fr);
            box-shadow: inset 0 -1px 0px #fff;
        }
        @media (max-width: 767px) {
            column-gap: 16px;
        }
        @media (max-width: 599px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .filters_block {
        width: 300px;
        @media (max-width: 1023px) {
            display: none;
        }
    }
}

.overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal {
    z-index: 100;
    background-color: #fff;
    width: 300px;
    outline: none;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 32px auto;
    border-radius: 8px;
    overflow: hidden;
}

.modal__footer {
    padding: 16px;
    display: flex;
    justify-content: center;
}