@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.container {
    background-color: $color_gray_light;
    padding: 24px;
}

.title {
    font-family: $font_title;
    color: $color_title_text;
    font-weight: 700;
    margin: 0 0 24px;
    font-size: 24px;
    line-height: 24px;
}

.filter_block {
    &__title {
        font-family: $font_title;
        color: $color_title_text;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
    }
}

.radioContainer {
    display: block;
    & .radio {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 8px;
        margin: 0;
        &__input_radio {
            margin-right: 0.5em;
            margin-bottom: 0.2em;
        }
        &__label_text {
            font-family: $font_text;
            color: $color_main_text;
            font-weight: normal;
            transition: color ease-in-out 0.3s;
        }
        &:hover .radio__label_text {
            color: $color_title_text;
            font-weight: 700;
        }
    }
}