@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";
.container {
    background-color: $color_gray_light;
    padding: 24px;
}

.title {
    font-family: $font_title;
    color: $color_title_text;
    font-weight: 700;
    margin: 0 0 24px;
    font-size: 24px;
    line-height: 24px;
}

.filter_block {
    &__title {
        font-family: $font_title;
        color: $color_title_text;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 8px;
    }
}

.radioContainer {
    display: block;
    & .radio {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 5px 0;
        border: none;
        &__input_radio {
            @include radio_input;
        }
        &__label_text {
            @include radio_label;
            font-family: $font_text;
            color: $color_main_text;
            font-weight: normal;
        }
    }
}