@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.wrap {
    @include mainWrapMedia;
}

.slider_container {
    display: flex;
    height: 350px;
    justify-content: space-between;
    @include mainContainerMedia;
    @media (max-width: 1279px) {
        height: 310px;
        padding: 0 0px;
    }
    @media (max-width: 767px) {
        height: 270px;
        padding: 0 0px;
    }
    @media (max-width: 479px) {
        height: 210px;
    }
    &__content {
        overflow: hidden;
        background-color: $color_gray_light;
        height: 100%;
        flex: 0 1 calc((100% - 16px * 3) / 4 * 3 + 2 * 16px);
        @media (max-width: 1279px) {
            flex: auto;
            width: 100%;
        }
    }
    &__information_block {
        background-color: $color_main_accent;
        background-image: linear-gradient(130deg, $color_main_accent 20%, $color_main_choice);
        background-image: url(../../assets/images/group_people.svg);
        background-repeat: no-repeat;
        background-position-x: calc(50% + 8px);
        background-position-y: center;
        background-size: 300px 300px;
        color: #fff;
        height: 100%;
        flex: 0 1 calc((100% - 16px * 3) / 4);
        padding: 32px;
        @media (max-width: 1279px) {
            display: none;
        }
    }
    & [class*='swiper-button-'] {
        display: none;
    }
    [class~='swiper-pagination-fraction'] {
        position: absolute;
        font-size: 18px;
        bottom: 40px;
        top: auto;
        right: 70px;
        left: auto;
        width: 80px;
        color: #fff;
        text-shadow: 0 0 2px $color_gray_light;
        @media (max-width: 767px) {
            display: none;
        }
        & span {
            color: inherit;
            font-size: inherit;
            text-shadow: 0 0 4px $color_gray_dark;
        }
    }
    .progressbar {
        position: absolute;
        z-index: 1;
        bottom: 38px;
        right: 75px;
        height: 2px;
        width: 70px;
        background-color: #fff;
        box-shadow: 0 1px 2px $color_gray_dark;
        @media (max-width: 767px) {
            display: none;
        }
        &::before {
            position: absolute;
            content: '';
            z-index: 2;
            top: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            width: 0%;
            background-color: $color_main_accent;
            transition: width linear 5000s;
        }
    }
}

.information_block__title {
    font-family: $font_title;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 2;
}

[class~='swiper-slide-active'] .slide__text_block {
    transform: translate(0%, -50%);
}

[class~='swiper-slide-active'] .slide__text_block::after {
    width: 0%;
}

.slide {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media (max-width: 1279px) {
        height: 310px;
    }
    @media (max-width: 767px) {
        height: 270px;
    }
    @media (max-width: 479px) {
        height: 210px;
    }
    &__text_block {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-100%, -50%);
        width: 50%;
        padding: 16px 16px 16px 88px;
        background-color: rgba($color_main_accent, 0.6);
        color: #fff;
        transition: transform ease-in 0.3s 0.7s;
        &::after {
            position: absolute;
            content: '';
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: #ffffff;
            transition: width ease-in-out 0.3s 1.1s;
        }
        @media (max-width: 1279px) {
            width: 60%;
            padding: 16px 16px 16px 32px;
        }
        @media (max-width: 767px) {
            width: 70%;
            padding: 16px;
        }
        @media (max-width: 479px) {
            width: 100%;
            padding: 8px 16px;
        }
        & .title {
            color: inherit;
            font-family: $font_title;
            font-size: 18px;
        }
        & .text {
            color: inherit;
            font-size: 14px;
            white-space: pre-wrap;
        }
    }
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-wrapper {
    position: relative;
}

.prev_button,
.next_button {
    height: 40px;
    width: 40px;
    font-size: 30px;
    position: absolute;
    text-align: center;
    z-index: 1;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.5s ease;
    pointer-events: auto;
    color: #fff;
    @media (max-width: 767px) {
        display: none;
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.prev_button {
    bottom: 30px;
    right: 150px;
}

.next_button {
    bottom: 30px;
    right: 30px;
}